.copyright {
    color: rgba(255, 255, 255, 1);
     margin-top: 30%; 
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 300;
    display: flex;
    position: relative;
   
    background-color:rgb(48, 29, 70)
  }

  .foot-container{
    position: relative;
    margin-top: 30%;
    text-align: center;
   display: flex; 
    background-color:rgb(48, 29, 70) ;
    color: white;
  }
 